<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAfA7NZHxudK_UYmFK5sMKuh8e3dCCFv0</string>
	<key>GCM_SENDER_ID</key>
	<string>485458453860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tadevv.SaltScan</string>
	<key>PROJECT_ID</key>
	<string>saltscan-ba7af</string>
	<key>STORAGE_BUCKET</key>
	<string>saltscan-ba7af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485458453860:ios:853adcf7dcbaee41178671</string>
</dict>
</plist>